<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="layout/layout :: head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
	$(document).ready(function () {
		$("#ejemplo1").DataTable({
			language: {
				decimal: "",
				emptyTable: "Datos no disponibles en la tabla",
				
				infoEmpty: "Mostrando 0 a 0 de 0 registros",
				infoFiltered: "(Filtrado de MAX registros totales)",
				infoPostFix: "",
				thousands: ",",
				
				loadingRecords: "Cargando...",
				processing: "Procesando...",
				search: "Buscar:",
				//"placeholder": "Buscar",
				zeroRecords: "No se encontraron registros para la búsqueda",
				paginate: {
					first: "Primero",
					last: "Último",
					next: "Siguiente",
					previous: "Anterior",
				},
				aria: {
					sortAscending: ": Activar para ordenar ascendente",
					sortDescending: ": Activar para ordenar descendente",
				},
			},
		});
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>

<body>
	<header th:replace="layout/layout :: header"></header>
	<aside th:replace="layout/layout :: sidebar"></aside>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1 th:text="${titulo}"></h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/ventasOnline">Inicio</a></li>
					<li class="breadcrumb-item">Clientes</li>
					<li class="breadcrumb-item active">Tabla</li>
				</ol>
			</nav>
		</div>
		<section class="section">
			<div class="row">
				<div class="col-lg">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" th:text="${titulo}"></h5>
      <div class="table-responsive">
        <table id="ejemplo1" class="table table-hover table-responsive-sm">
								<thead>
									<tr>
										<th scope="col">Id</th>
										<th scope="col">Nombre</th>
										<th scope="col">Apellido</th>
										<th scope="col">Dirección</th>
										<th scope="col">Email</th>
										<th scope="col">DNI</th>
										<th scope="col">Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="cliente: ${listaCliente}">
										<td th:text="${cliente.id_cliente}"></td>
										<td th:text="${cliente.nombre}"></td>
										<td th:text="${cliente.apellido}"></td>
										<td th:text="${cliente.direccion}"></td>
										<td th:text="${cliente.email}"></td>
										<td th:text="${cliente.dni}"></td>
										<td>
											<a th:href="@{/cliente/actualizar/{id}(id=${cliente.id_cliente})}"
												class="btn btn-primary" data-toggle="tooltip" data-placement="bottom"
												title="Actualizar cliente">
												<i class="fas fa-edit"></i> Actualizar
											</a> 

											<a th:href="@{/cliente/eliminar/{id}(id=${cliente.id_cliente})}"
												class="btn btn-danger" data-toggle="tooltip" data-placement="bottom"
												title="Eliminar cliente">
												<i class="fas fa-trash-alt"></i> Eliminar
											</a>

										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>